@import url("https://fonts.googleapis.com/css2?family=Crete Round");
@import url("https://fonts.googleapis.com/css2?family=Inter");
@import url("https://fonts.googleapis.com/css2?family=InaiMathi");
@import url("https://fonts.googleapis.com/css2?family=cyrillic Roboto");
@import url("https://fonts.googleapis.com/css2?family=Poppins");

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #e5e5e5;
}

main {
  background: white;
  width: 100%;
}

h1 {
  font-weight: 100;
}

h1,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

li {
  list-style-type: none;
}

/* Header */
header {
  background: #3c3a39;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

header a {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}

.fa-bars {
  font-size: 18px;
  color: #fff;
  z-index: 2;
  transition: all 0.5s linear;
}

.fa-bars:hover {
  cursor: pointer;
  transform: rotate(90deg);
}

.desktop-header-nav {
  display: none;
}

.headline-section {
  background-color: black;
  padding: 8rem 1.25rem 6rem;
  background-image: url("./images/Illustration.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-position-y: 120%;
  margin-bottom: 120px;
}

.headline {
  flex-direction: column;
  width: 85%;
  gap: 0;
}

.primary-text {
  font-family: "Crete Round", cursive;
  font-style: normal;
  font-size: 36px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  max-width: 306px;
}

.supporting-text {
  margin-top: -10px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color: #fff;
}

.description {
  font-family: "Poppins", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  max-width: 456px;
}

.social-media {
  margin-top: -20px;
  justify-content: flex-start;
}

.social-media ul {
  align-items: center;
  list-style-type: none;
  margin-left: -40px;
}

/* no-descending specificity rule */
.tags1 li {
  background: rgba(255, 255, 255, 0.24);
}

.tags a {
  color: #091e42;
}

.tags1 li a {
  color: #fff;
}

.social-media ul li {
  margin-right: 12px;
}

/* Work Section */

.title-div {
  margin: 0 24px;
  margin-bottom: 60px;
}

.title {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #1c1a19;
  text-align: center;
  padding-bottom: 40px;
  border-bottom: 1px solid #212121;
}

.title-vector {
  display: none;
}

.featured-img {
  flex-direction: column;
  padding: 0 24px;
  gap: 24px;
}

.right-block {
  flex-direction: column;
  padding: 0;
  align-content: flex-start;
}

.title-post {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #091e42;
  margin: 0;
}

.supporting-text1 {
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
}

.tags {
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 12px;
}

.css-tag {
  box-sizing: border-box;
  padding: 10px 12px;
  width: 49px;
  height: 40px;
  background: #fff;
  border: 1px solid #8993a4;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.html-tag {
  width: 56px;
  height: 40px;
  box-sizing: border-box;
  padding: 10px 12px;
  background: #fff;
  border: 1px solid #8993a4;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.bootstrap-tag {
  box-sizing: border-box;
  padding: 10px 12px;
  border: 1px solid #8993a4;
  background: #fff;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.ruby-tag {
  box-sizing: border-box;
  padding: 10px 12px;
  background: #fff;
  border: 1px solid #8993a4;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

#multipost-btn {
  width: 124px;
  height: 48px;
}

.grid-container1 {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  align-items: center;
}

.frame43-right-block {
  margin-top: 76px;
  box-sizing: border-box;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 16px;
}

.see-project-btn1 {
  width: 100%;
  text-align: center;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
  background: #ff6b00;
  height: 48px;
  border: none;
  transition: background-color, color 3s ease 0.25s;
}

.card-works1 {
  background: linear-gradient(179.35deg, rgba(38, 38, 38, 0) 0.85%, rgba(38, 38, 38, 0.9) 84%), url("./images-desktop/card-works1.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 90%;
  border: 1px solid whitesmoke;
}

.card-works1 .frame43-right-block {
  margin-top: 120px;
}

.card-works1 .see-project-btn1 {
  visibility: hidden;
}

.card-works2 .frame43-right-block {
  margin-top: 120px;
}

.card-works3 .frame43-right-block {
  margin-top: 162px;
}

.card-works2:hover .frame43-right-block {
  display: none;
}

.card-works1:hover {
  cursor: grab;
  background-image: url("./images-desktop/card-works1.png");
  transform: scale(1.05);
}

.card-works1:hover .frame43-right-block {
  display: none;
}

.card-works2 .see-project-btn1 {
  visibility: hidden;
}

.card-works3 .see-project-btn1 {
  visibility: hidden;
}

.card-works1:hover .see-project-btn1 {
  visibility: visible;
  margin-top: 402px;
}

.card-works2 {
  background-image: url("./images-desktop/card-works2.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 90%;
}

.card-works2:hover {
  cursor: grab;
  transform: scale(1.05);
}

.card-works2:hover .see-project-btn1 {
  visibility: visible;
  margin-top: 402px;
}

.card-works3 {
  background-image: url("./images-desktop/card-works3.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 90%;
}

.card-works3:hover {
  cursor: grab;
  transform: scale(1.05);
}

.card-works3:hover .frame43-right-block {
  display: none;
}

.card-works3:hover .see-project-btn1 {
  visibility: visible;
  margin-top: 402px;
}

.title-post1 {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.supporting-text2 {
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.tags1 {
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 12px;
}

#last {
  margin-bottom: 50px;
}

/* About me Section */
.about-me {
  background: #1c1a19;
  margin: 120px 0 0;
}

.about-me-div {
  flex-direction: column;
  align-items: flex-start;
  padding: 100px 24px;
  gap: 20px;
  background-image: url("./images/Frame.png");
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: 100%;
  background-size: 150px 200px;
}

.about-me-div h2 {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 58px;
  line-height: 58px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  padding: 0;
  margin: 0;
}

.about-me-div p {
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
}

.get-my-resume {
  gap: 10px;
  width: 131px;
  height: 36px;
  color: #fff;
  background: #ff6b00;
  border: none;
  transition: all 5s ease 0.25s;
}

.divider {
  margin: 0 18px;
  justify-content: center;
  border: 1px solid #fff;
  width: 90%;
}

.skill {
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
  gap: 24px;
}

.skill ul {
  font-family: "Inter", serif;
  list-style: none;
  padding-left: 0;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 43px;
}

.skill ul li {
  text-align: center;
}

.topic {
  margin: 0.4rem 0 0;
  padding-left: 0.8em;
  margin-bottom: 0.5em;
  position: relative;
  font-family: "InaiMathi", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.topic::after {
  content: "";
  height: 0.4em;
  width: 0.4em;
  background: #ff6b00;
  display: block;
  position: absolute;
  transform: rotate(45deg);
  top: 0.5em;
  left: 0.1em;
  text-align: center;
}

.topic1 {
  margin: 0.2em 0 0.5em;
  padding-left: 0.8em;
  position: relative;
  font-family: "InaiMathi", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.topic1::after {
  content: "";
  height: 0.4em;
  width: 0.4em;
  background: #ff6b00;
  display: block;
  position: absolute;
  top: 0.5em;
  left: 0;
  text-align: center;
}

.topic2 {
  margin: 0.2em 0 0.5em;
  position: relative;
  font-family: "InaiMathi", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.topic2::after {
  content: "";
  height: 0.4em;
  width: 0.4em;
  background: #ff6b00;
  display: block;
  position: absolute;
  top: 0.5em;
  left: -0.6em;
  text-align: center;
  border-radius: 50%;
}

button :enabled {
  color: #fff;
  background: #f55800;
}

button:hover {
  color: #f55800;
  background: #fff5e1;
  border: 3px solid #f55800;
}

button:active {
  background: #e05304;
  color: #f4f1f0;
}

.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 54px;
  margin: 160px 24px;
}

.form-text {
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
  width: 90%;
}

form {
  width: 90%;
}

input,
textarea {
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: black;
  padding: 10px;
  margin-bottom: 24px;
  border: none;
  border-bottom: 1px solid #dbd8d7;
}

textarea {
  height: 80px;
  background: #fbf8f7;
}

input,
textarea:focus {
  outline: none;
}

input:hover::placeholder {
  transform: translate(10px);
}

.get-in-touch {
  margin: 0 25%;
  width: 50%;
  border: none;
  color: #fff;
  background-color: #ff6b00;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  padding: 10px;
  transition: all 5s ease 0.25s;
}

footer {
  border-top: 1px solid #dbd8d7;
  padding: 5px;
}

.footer-ul {
  align-items: center;
  justify-content: center;
  padding: 0;
}

.footer-li {
  margin: 0 10px;
}

.footer-vector {
  width: 144px;
  height: 5px;
  background: #0d151e;
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 8px;
}

.menu-toggle {
  background-color: #1c1a19;
  position: absolute;
  top: 0;
  z-index: 1;
  height: 0;
  width: 100%;
  overflow: hidden;
  transition: height 1s ease-in-out;
}

.menu-toggle-height {
  display: block;
  height: 100vh;
}

.toggle-ul {
  margin-top: 56px;
  margin-right: 40px;
}

.toggle-ul-li {
  border-bottom: 1px solid #6f6c6b;
  padding-top: 20px;
  padding-bottom: 5px;
}

.toggle-ul-li-a {
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fff5e1;
}

.none {
  display: none;
}

.popup-window {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
  display: none;
}

.popup-window-content {
  width: 80%;
  height: 90%;
  margin: 10px auto 0;
  background-color: white;
}

.show {
  display: block;
}

.body-overflow {
  overflow: hidden;
}

.top-content-text {
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  margin: 0 24px;
  padding-right: 5px;
}

.top-content-text h2 {
  margin: 0;
  padding: 0;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.fa-x {
  font-size: 20px;
  cursor: pointer;
}

.top-content-tag {
  column-gap: 10px;
  padding-left: 24px;
}

.popup-content {
  margin: 24px;
}

#snapshot-portfolio {
  width: 80%;
  object-fit: cover;
}

.popup-content-text {
  flex-direction: column;
  justify-content: space-between;
}

.popup-content-text p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #344563;
}

.popup-content-text-btn {
  column-gap: 30px;
}

.pop-btn {
  align-items: center;
  column-gap: 10px;
  background: #f55800;
  border: none;
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.08rem;
  color: #fff;
  padding: 0.5em;
  transition: background-color, color 3s ease 0.25s;
}

.flex {
  display: flex;
}

.error {
  max-width: 222px;
  text-align: center;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: black;
  outline: auto;
  margin: 20px auto;
}

small {
  color: red;
}

@media screen and (min-width: 768px) {
  header {
    padding: 0 6rem;
  }

  .fa-bars {
    display: none;
  }

  .desktop-header-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
  }

  .desktop-header-nav li {
    margin-right: 40px;
  }

  .desktop-header-nav li a {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
  }

  .headline-section {
    background-image: url("./images-desktop/Illustration-header\ \(1\).png");
    background-position: bottom right;
    background-size: 450px 530px;
    background-position-y: 60%;
  }

  .headline {
    margin-left: 10%;
  }

  .social-media {
    position: absolute;
    left: 0;
    top: 35%;
  }

  .social-media ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin-left: 20px;
    padding: 0;
  }

  .work-section {
    margin: 0 118px;
  }

  .featured-img {
    flex-direction: row;
    margin-bottom: 24px;
  }

  .right-block {
    width: 338px;
  }

  .title-div {
    display: flex;
    gap: 30px;
  }

  .title {
    padding: 0;
    border: none;
  }

  .title-vector {
    display: block;
    height: 1px;
    background-color: #212121;
    margin: auto 0;
    width: 70%;
  }

  .grid-container1 {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    gap: 10px;
  }

  #last {
    margin: 0;
  }

  .about-me-div {
    background-image: url("./images-desktop/illustration-about\ me@2x.png");
    background-position: right;
    background-size: 480px 280px;
    margin-left: 100px;
    padding-left: 0;
  }

  .about-me-div p {
    max-width: 456px;
  }

  .divider {
    margin: 0 100px;
    width: 83.5%;
  }

  .skill {
    margin-left: 100px;
    flex-direction: row;
    justify-content: flex-start;
    gap: 220px;
    padding-left: 10px;
  }

  .skill ul {
    height: 281px;
  }

  .top-content-tag li {
    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #3c3a39;
  }

  .skill ul li {
    text-align: left;
  }

  .form-section {
    flex-direction: row;
    align-items: flex-start;
    margin: 160px 135px;
  }

  .form-text {
    max-width: 320px;
    text-align: left;
  }

  textarea {
    background: #fbf8f7;
  }

  .get-in-touch {
    margin-left: 0;
    width: 122px;
  }

  .footer-vector {
    display: none;
  }

  .menu-toggle {
    display: none;
  }

  .popup-content {
    display: flex;
    column-gap: 24px;
  }

  .popup-window-content {
    width: 80%;
    height: 70%;
    margin: 5% auto;
    background-color: white;
  }

  #snapshot-portfolio {
    width: 60%;
    max-height: 300px;
  }

  .popup-content-text p {
    max-width: 336px;
  }

  .error {
    margin-left: 0;
  }
}
